.container.ng-cloak
  .container.tm-project-container(data-ng-repeat="project in vm.projects")
    .row
      .col-xs-8.col-xs-offset-2
        tm-project-header
    div(data-ng-controller="Tasks as vm")
      .row
        .col-xs-8.col-xs-offset-2
          tm-new-task-form
      .row
        tm-tasks-table
  .container
    .row.ng-cloak.tm-new-project(data-ng-show="vm.newProject")
      .col-xs-8.col-xs-offset-2
        tm-new-project-form
  .container
    .row
      .col-xs-4.col-xs-offset-4
        .tm-add-project-button.text-center(data-ng-click="vm.add()")
          i.fa.fa-plus
          span Add TODO List
