.container.ng-cloak
  .container(ng-hide='vm.projects.length || vm.newProject')
    .col-xs-6.col-xs-offset-3
      .well
        h3.text-center {{'projects.noProjectsMessage' | translate}}
  .container.tm-project-container(ng-repeat="project in vm.projects")
    .row
      .col-xs-8.col-xs-offset-2
        tm-project-header
    div(ng-controller="Tasks as vm" ng-init="vm.parentProject = project")
      .row
        .col-xs-8.col-xs-offset-2
          tm-new-task-form
      .row
        tm-tasks-table
  .container
    .row.ng-cloak.tm-new-project(ng-show="vm.newProject")
      .col-xs-8.col-xs-offset-2
        tm-new-project-form
  .container
    .row
      .col-xs-4.col-xs-offset-4
        .tm-add-project-button.text-center(ng-click="vm.add()")
          i.fa.fa-plus
          span {{'projects.addProject' | translate}}
