.modal-header
  h3 Deleting
.modal-body
  p.text-center Really delete "{{entityBeingRemoved}}"?
.modal-footer
  button.btn.btn-danger(data-ng-click="closeRemoveModal()") Delete
  button.btn.btn-primary(data-ng-click="dismissRemoveModal()") Cancel
