.container
  .jumbotron
    .container
      .media
        a.pull-left
          img.media-object(src="/images/task.svg")
        .media-body
          h1 {{ 'APP_TITLE' | translate }}
      p.text-justify {{ 'APP_PROMO' | translate }}
