.container
  .jumbotron
    .container
      .media
        a.pull-left
          img.media-object(src="/images/task.svg")
        .media-body
          h1 {{'index.appTitle' | translate}}
      p.text-justify {{'index.appPromo' | translate}}
