.container
	.jumbotron
		.container
			.media
				a.pull-left
					img.media-object(src="/images/task.svg")
				.media-body
					h1 Task Manager
			p.text-justify.
				Welcome to our super-duper task managing WEB application. If you want to dive into the beauty and power of this digital piece of art - avail yourself of the opportunity to click 'Sign Up' in the navigation bar!