@require '/vendor/*.css'
@require '/navbar/*.styl'
@require '/forms/*.styl'
@require '/projects/*.styl'

.ng-cloak
  display none !important

body, html
  height 100%

.bg
  background #4b3353
  background-image url("../images/1.jpg")
  height 100%
  background-position center
  background-repeat no-repeat
  background-size cover
