@require '/vendor/*.css'
@require '/navbar/*.styl'
@require '/forms/*.styl'
@require '/projects/*.styl'

.ng-cloak
  display none !important

body
  background #4b3353 url("../images/1.jpg") center center no-repeat
  background-attachment fixed
  background-size 100% auto