%div{ 'growl': true }
.container
  %nav.navbar.navbar-inverse.navbar-default{ 'role': "navigation", 'data-ng-controller': "LoginController" }
    .navbar-header
      %button.navbar-toggle{ 'data-ng-init': "navCollapsed = true", 'data-ng-click': "navCollapsed = !navCollapsed" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: "/#!/" } Task Manager
    .collapse.navbar-collapse{ 'data-ng-class': "!navCollapsed && 'in'" }
      %ul.nav.navbar-nav
        %li
          %a{ href: "/#!/" } Home
        %li
          %a.ng-cloak{ 'href': "", 'data-ng-click': "showSignupModal()", 'data-ng-hide': "identity.isAuthenticated()" } Sign Up
      %form.navbar-form.navbar-right.ng-cloak{ 'data-ng-hide': "identity.isAuthenticated()", 'data-ng-submit': "signin(username, password)" }
        .form-group
          %input.form-control{ 'placeholder': "username", 'data-ng-model': "username" }
        .form-group
          %input.form-control{ 'type': "password", 'placeholder': "password", 'data-ng-model': "password" }
        %button.btn.btn-primary Log in
      %ul.nav.navbar-nav.navbar-right.ng-cloak{ 'data-ng-show': "identity.isAuthenticated()" }
        %li{ 'uib-dropdown': "" }
          %a#tm-user-dropdown{ 'href': "", 'uib-dropdown-toggle': "" }
            %span{ 'data-ng-bind': "identity.user.firstName + ' ' +identity.user.lastName" }
            %b.caret
          %ul.dropdown-menu{ 'uib-dropdown-toggle': "", 'aria-labelledby': "tm-user-dropdown" }
            %li
              %a{ 'href': "", 'data-ng-click': "showUserProjects()" } User's projects
              %a{ 'href': "", 'data-ng-click': "signout()" } Sign Out
%div{ 'ng-view': true }
