.row.tm-project-header
  .col-xs-1
    i.fa.fa-calendar-o.tm-glyphicon-shadow-light-bottom
  .col-xs-11(data-ng-hide="vm.currentProject.id === project.id")
    span.tm-project-name {{project.name}}
    section.pull-right.tm-project-buttons
      i.fa.fa-pencil(title="Edit project" data-ng-click="vm.edit(project)")
      span &#124
      i(title="Delete project"
        data-ng-click="vm.remove(project, $index)").fa.fa-trash
  .col-xs-11.ng-cloak(data-ng-show="vm.currentProject.id === project.id")
    form
      .input-group
        input.form-control(data-ng-model="vm.currentProject.name")
        .input-group-btn
          button.btn.btn-success(type="submit"
            data-ng-click="vm.update(project)") Save
