.modal-header
  h3(translate="common.removeModalHeader"
    translate-values="{entity: vm.options.entity}")
.modal-body
  p.text-center(translate="common.removeModalBody"
    translate-values="{caption: vm.options.caption}")
.modal-footer
  button.btn.btn-danger(ng-click="vm.ok()" ) {{'common.delete' | translate}}
  button.btn.btn-primary(ng-click="vm.cancel()") {{'common.cancel' | translate}}
