.modal-header
  h3(translate="REMOVE_MODAL_HEADER"
    translate-values="{ entity: vm.options.entity }")
.modal-body
  p.text-center Really delete "{{vm.options.caption}}"?
.modal-footer
  button.btn.btn-danger(data-ng-click="vm.ok()") Delete
  button.btn.btn-primary(data-ng-click="vm.cancel()") Cancel
