.navbar-form .form-group input
  margin-right 1rem

.form-group .help-block
  display none

.form-group.has-error .help-block
.form-group.has-warning .help-block
  display block

.glyphicon-spin
  -webkit-animation spin .75s infinite linear
  -moz-animation spin .75s infinite linear
  -o-animation spin .75s infinite linear
  animation spin .75s infinite linear

@keyframes spin
  0%
    transform:rotate(0deg)
  100%
    transform:rotate(359deg)