form.form-inline(data-ng-show="vm.currentTask === task && \
  vm.taskEditingProperty === 'content'")
  .form-group
    input.form-control( data-ng-model="vm.currentTaskCopy.content")
  span
    button.btn.btn-default(type="submit"
      data-ng-click="vm.saveContent(task)") Save
    button.btn.btn-default(type="button"
      data-ng-click="vm.cancelEditContent()") Cancel
