form.ng-cloak.form-inline(data-ng-show="vm.currentTask === task && \
  vm.editingProperty === 'deadline'")
  .input-group
    input.form-control(type="date" data-ng-model="vm.currentTask.deadline")
  tm-save-cancel-buttons
