form.ng-cloak.form-inline(data-ng-show="vm.currentTask.id === task.id && \
  vm.editingProperty === 'content'")
  .form-group
    input.form-control(data-ng-model="vm.currentTask.content")
  tm-save-cancel-buttons
