form.ng-cloak.form-inline(data-ng-show="vm.currentTask.id === task.id && \
  vm.editingProperty === 'deadline'" data-ng-submit="vm.update(task)")
  .input-group
    input.form-control(type="date" tm-date-formatter
      data-ng-model="vm.currentTask.deadline")
  tm-save-cancel-buttons
