section.tm-task-buttons(ng-hide='vm.currentTask.id === task.id')
  i.fa.fa-calendar(title='{{vm.deadlineTip(task.deadline)}}'
    ng-click="vm.edit(task, 'deadline')")
  span &#124
  i.fa.fa-sort(translate-attr="{title: 'tasks.changePriorityHint'}"
    tm-task-draggable)
  span &#124
  i.fa.fa-pencil(translate-attr="{title: 'tasks.editContentHint'}"
    ng-click="vm.edit(task, 'content')")
  span &#124
  i.fa.fa-trash(translate-attr="{title: 'tasks.deleteTaskHint'}"
    ng-click='vm.remove(task, $index)')
